*{
    box-sizing: border-box; 
} 
 body{
    font-family: sans-serif;
    background-color:#ECECEC; 
} 
/* ------------H1--And Form ---------------*/
div h1{ 
    text-align: center; 
    background-color:red; 
    color:white;
    max-width: 1000px;
    height:150px;
    border-radius:10px;
    height:70px;
    padding:10px;
}
 #js-form{ 
    padding:10px;
    margin-top: 60px;
    color:white;   
}
h2,p{
    text-align:left;
}
/* --------Results section---------------*/
#results{
    direction:flex;
    flex-direction: column; 
    text-align:left;
    width: 1000px;
    height:400px;
    margin-top:100px;
    margin-left:5px; 
    text-align: center;
}

/* -------Container and the list items with Hover key and animation---------*/
.container{
    text-align:center;
    max-width: 80%;
    height:300px;
    background-color:darkgray;
    margin: 0 auto;
    direction:flex;
    flex-direction: column; 
     border:solid;
    border-radius:10px;
    border:2px;
    padding:10px;
    /* border:solid; */
     box-shadow: 3px 3px 3px 3px lightblue; 
   
}

ul li{
    direction:flex;
    flex-direction: column; 
    background-color:#A9A9A9;
    padding:10px;
    border-radius:10px;
    border:2px;
    box-shadow: 3px 3px 3px 3px white; 
    border:solid;
    max-width: 90%;
    height:auto; 
    margin-left:0px;
    transition: width height background-color 1s; 
      
}

 ul li:hover{
    width:auto;
    height: auto;
    background-color:green;
} 

#results-list{
     background-color:#A9A9A9; 
     list-style-type: none; 
     margin-left:0;
     direction:flex;
     flex-direction:column; 
}

section{
    direction:flex;
    flex-direction:column;
    margin-left:-5px;
}


/* -----------Button Click-----------------*/


.colorKo{
    background-color:green;
    
}

.click{
    background-color:orange;
    color:white;
    cursor:pointer;
    margin-top:20px;
}
.error-message{
    color:red;
}
.hidden{
    display:none;
} 

img{
    width: 150px;
    height:70pxpx;
}
/*----------Anchor a with animation---------------*/
a{
    border: red solid;
    background-color:green;
    color:white;
    border-radius:5px;
    width:50px;
    animation: myanimation 5s; 
}
@keyframes myanimation{
    from{background:green}
    to{background:black}
}

#title {
    color:white;
    font-weight: 70px;
}
#author{
    color:white;
   
}

/* ---------------------media query---------------------------- */
 @media all and (min-width: 800px) {
    
    .container {
      width: 80%;
      margin: auto;
      direction:flex;
      flex-direction: row;
    } 
    
     .results{
        width:800px;
        direction:flex;
        flex-direction: row; 
        text-align: center;
        direction:flex;
    } 
    #results-list{
        width: 1000px;
        margin: auto;
        /* left:150px; */
        direction:flex;
        flex-direction: row;
    } 
     #resultsCheck{
        text-align: center;
        flex-direction: row;
    }

    body{
        background-color:orange;
    }
    h2,p{
        text-align:center;
    }
    h1{
        text-align:center;
    }
    #js-form{
        text-align:center;
    }
  }
  /* @media all and (min-width:480px) {
    body {
       background-color:orange; */
      /* style is appended and/or overrided when the screen gets larger */
     /* }
  } */
    
/* --- Horizaontal Ruler-------------------*/

/* hr {
    width: 420px;
    height: 32px;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
  } */
  
#js-max-results{
    color:red;
}
#js-search-term{
    color:red;
}
#resultsCheck{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    margin-left:0;   
}
form > label{
color:white;
background-color:red;
width:200px;
border-radius:50%;
height:auto;
}

