*{
    box-sizing: border-box; 
} 
 body{
    font-family: sans-serif;
    background-color:#ECECEC; 
} 
/* ------------H1--And Form ---------------*/
h1{ 
    text-align: center; 
    height: 100px;
    text-align:center; 
    color:white;
    max-width: 1000px;
    height:150px;
    border-radius:10px;
    height:70px;
    padding:10px;
}
.htilte{
    height:auto;
    background-color:black;
    height:150px;
    border-radius:10px;
}
 #js-form{ 
    padding:10px;
    margin-top: 60px;
    color:white;   
}
h2,p{
    text-align:left;
}
/* --------Results section---------------*/
/* #results{
    flex-direction: column; 
    max-width: 445px;
    height:500px;
    margin-top:100px;
    margin-left:55px; 
    text-align: center;
}  */

/* -------Container and the list items with Hover key and animation---------*/
.container{
    text-align:center;
    max-width: 445px;
    height:500px;
    background-color:darkgray;
    margin: 0 auto;
    display:flex;
    flex-direction: column; 
    border:solid;
    border-radius:10px;
    border:2px;
    padding:10px;
    /* border:solid; */
     box-shadow: 3px 3px 3px 3px lightblue; 
   
}
input{
    margin-top:20px;
    /* margin-left:30px; */
    max-width:445px;
}

#results-list{
    display:flex; 
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    background-color:#A9A9A9;
    padding:10px;
    border-radius:10px;
    border:2px;
    box-shadow: 3px 3px 3px 3px white; 
    border:solid;
    max-width: 445px;
    height:auto; 
    margin-top:20px;
    margin-left: 35px;
    transition: width height background-color 1s; 
      
}


 

/* #results-list{
     background-color:#A9A9A9; 
     list-style-type: none; 
     margin-left:0;
     flex-direction:column; 
} */

/* section{
    display:flex;
    flex-direction:column; 

}*/


/* -----------Button Click-----------------*/


.colorKo{
    background-color:green;
    
}

.click{
    background-color:black;
    color:white;
    cursor:pointer;
    padding-bottom: 0px;
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
    font-weight: 500px;
    width:400px;
    height:55px;
    border-radius: 10px;
}
.error-message{
    color:red;
}
.hidden{
    display:none;
} 

img{
    width: 250px;
    height:150px;
}
/*----------Anchor a with animation---------------*/
a{
    border: red solid;
    background-color:green;
    color:white;
    border-radius:5px;
    width:50px;
    animation: myanimation 5s; 
}
@keyframes myanimation{
    from{background:green}
    to{background:black}
}

#title {
    color:white;
    font-weight: 70px;
}
#author{
    color:white;
   
}

/* ---------------------media query---------------------------- */
 @media all and (min-width: 680px) {
    
    .container {
      max-width: 1000px;
      margin: auto;
      direction:flex;
      flex-direction: row;
    } 
    /* #results{
        direction:row;
        flex-wrap: wrap;
        justify-content: space-between;
        width:auto;
      } */
      
      
    #listing{
      display:block;
      margin:10px;
      background-color: gray;
      padding: 2px;
      height:500px;
      width:400px;
    
    }
    #results-list{
        background-color:#A9A9A9; 
        /* list-style-type: none;  */
        margin-left:40px;
        display:flex;
        flex-direction:row; 
   }
   input{
    margin-top:10px; 
     margin-left:200px; 
    /* max-width:445px;*/
}
    .click{
        
        padding-bottom: 10px;
        margin-top:20px;
        margin-left:200px;
        /* text-transform: uppercase; */
        font-size:40px;
        font-weight: 500px;
        width:400px;
        height:55px;
        border-radius: 10px;
    }
    .htitle{
        margin-left:25px;
        height:200px;
    }

   /* #results{
    /* display: block; */
    /* display:flex; */
    /* flex-direction: row; */
    /* max-width: 800px; */
    /* height:50px; */
    /* margin-top:100px; */
    /* margin-left:40px;  */
    /* text-align: center; */
/* }  */
    hr{
        display: none;
    }
    
     /* #results{
        max-width:1000px;
        display:flex;
        flex-direction: row; 
        text-align: center; */
      /* }  */
    #results-list{
        margin-left:100px;
        width: 1000px;
        margin: auto;
        display:flex;
        flex-direction: row;
    } 
    #resultsCheck{
        margin-top:10px;
        margin-bottom: 20px;
        text-align: center;
        flex-direction: row;
    }

    body{
        background-color:orange;
    }

    h2,p{
        text-align:center;
    }

    div h1{
        position: relative;
        max-width:800px;
        height: 100px;
        background-color:black;
        text-align:center;
        margin-left:80px;
        margin-bottom: 70px;
    }
    /* div label{
        margin-top: 30px;
        margin-right: 10px;
        
    } */
    #js-form{
        position:absolute;
        padding:60px;
        margin-top: 220px;
        
    }
    .hidden{
        display:none;
    } 
    /* .languages{
        color:white;
        position: absolute;
        margin-top: 150px;
        text-align: left;
    } */
}
  /* @media all and (min-width:480px) {
    body {
       background-color:orange; */
      /* style is appended and/or overrided when the screen gets larger */
     /* }
  } */
    
/* --- Horizaontal Ruler-------------------*/

 hr {
    max-width: 500px;
    height: 5px;
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    background:black;
  } 
  /*
  hr{
    height:10px;
    background-color:black;
    width:700px;
    margin: 30px;
    /*margin-left:-38px;*/
    

  
/* #js-max-results{
    color:red;
} */
#js-search-term{
    color:black;
    width:400px;
    height:40px;
}
#resultsCheck{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    margin-left:40px;   
}
form >label{
color:Black;
background-color:red;
width:300px;
border-radius:50%;
height:auto;
text-align: center;
}

