*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color:#ECECEC;
}
/* ------------H1--And Form ---------------*/
h1{
    
    background-color:red;
    color:white;
    max-width: 1000px;
    height:auto;
    border-radius:10px;
    height:70px;
    padding:10px;
}
 #js-form{ 
    
    margin-top: 60px;
    color:white;
    
}
/* -------Container and the list items with Hover key and animation---------*/
.container{
    text-align:center;
    max-width: 800px;
    height:200px;
    background-color:darkgray;
    margin: 0 auto;
    direction:flex;
    flex-direction: column; 
    border:solid;
    border-radius:10px;
    border:2px;
    border:solid;
    box-shadow: 3px 3px 3px 3px lightblue;
   
}
#listing{
    direction:flex;
    flex-direction: column;
    background-color:#A9A9A9;
    padding:10px;
    border-radius:10px;
    border:2px;
    box-shadow: 3px 3px 3px 3px white;
    border:solid;
    max-width: 800px;
    height:auto; 
    left:0;
    transition: width height background-color 1s; 
     
}
#listing:hover{
    width:1000px;
    height: auto;
    background-color:green;
}


/* -----------Button Click-----------------*/


.colorKo{
    background-color:green;
    
}

.click{
    background-color:orange;
    color:white;
    cursor:pointer;
}
.error-message{
    color:red;
}
.hidden{
    display:none;
} 

img{
    width: 150px;
    height:70pxpx;
}
/*----------Anchor a with animation---------------*/
a{
    border: red solid;
    background-color:green;
    color:white;
    border-radius:5px;
    width:50px;
    animation: myanimation 5s; 
}
@keyframes myanimation{
    from{background:green}
    to{background:black}
}
/* --------Results section---------------*/
#results{
    direction:flex;
    flex-direction: column;
    width: 800px;
    height:400px;
    margin-left: -35px;;  
}
#title {
    color:white;
    font-weight: 70px;
}
#author{
    color:white;
   
}
#results-list{
    list-style-type: none;
    margin-left: auto;
    direction:flex;
    flex-direction:column;
}
/*  Horizaontal Ruler-------------------*/
hr{
    height:10px;
    background-color:black;
    width:700px;
    margin: 30px;
    /*margin-left:-38px;*/
    
    

}
#resultsCheck{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    margin-left:0;   
}

