*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
h1{
    text-align: center;
    background-color:darkgray;
    color:white;
    max-width: 800px;
    height:auto;
}
#js-form{
    width:800px;
    height:auto; 
}
.container{
    text-align:center;
    max-width: 800px;
    max-height: 945px;
    margin: 0 auto;
    direction:flex;
    flex-direction: column;
   
}


.click{
    background-color:orange;
    color:white;
    cursor:pointer;
}
.colorKo{
    background-color:green;
    
}
/* #type, #link{
    background-color: darkseagreen;
    padding:10px;
    max-width: 800px;
} */


.click{
    background-color:orange;
    color:white;
    cursor:pointer;
}
.error-message{
    color:red;
}
.hidden{
    display:none;
} 
#listing{
    background-color:#A9A9A9;
    margin:10px;
    border:solid;
    width:800px;
    height:auto;
    direction:flex;
    flex-direction: column;
}
img{
    width: 200px;
    height:auto;
}
#results{
    max-width: 800px;
    height:400px;  
}
#title {
    color:white;
}
#author{
    color:white;
}

