*{
    box-sizing: border-box; 
} 
 body{
    font-family: sans-serif;
    background-color:#ECECEC; 
} 
/* ------------H1--And Form ---------------*/
h1{ 
    text-align: center; 
    height: 100px;
    text-align:center; 
    color:white;
    max-width: 1000px;
    height:150px;
    border-radius:10px;
    height:70px;
    padding:10px;
}
.htilte{
    height:auto;
    background-color:black;
    height:150px;
    border-radius:10px;
}
 #js-form{ 
    padding:10px;
    margin-top: 60px;
    color:white;   
}
/* -------Container and the list items with Hover key and animation---------*/
.container{
    text-align:center;
    max-width: 445px;
    height:400px;
    background-color:darkgray;
    margin: 0 auto;
    margin-bottom: 20px;
    display:flex;
     flex-direction: column; 
    /*border:solid; */
    border-radius:10px;
    border:2px;
    padding:10px;
     box-shadow: 3px 3px 3px 3px lightblue; 
   
}


.group {
    display: flex;
    flex-direction: column;
    /* flex-wrap:wrap; */
    max-width: 445px;
    margin:30px;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-bottom: 100px;
  }
.item{
    display:flex; 
    flex-grow: 1;
    flex-direction: row; 
    flex-wrap: wrap; 
    background-color:#A9A9A9;
    padding:10px;
    border-radius:10px;
    border:2px;
    /* box-shadow: 3px 3px 3px 3px white;  */
     /* border:solid; */
    /* max-width: 445px;
    height:auto; 
    margin-top:20px;
    margin-left: 35px;  */
      
}




/* -----------Button Click-----------------*/


.colorKo{
    background-color:green;
    
}

.click{
    background-color:black;
    color:white;
    cursor:pointer;
    padding-bottom: 0px;
    margin-top:20px;
    text-transform: uppercase;
    font-size:18px;
    font-weight: 500px;
    width:100%;
    height:55px;
    border-radius: 10px;
}
.error-message{
    color:red;
}
.hidden{
    display:none;
} 

img{

    width:100%;
    height:auto;
    
}
/*----------Anchor a with animation---------------*/
a{
    
    background-color:black;
    color:white;
    max-width:150px;
    height: 50px;
    
}

#title {
    color:white;
    font-weight: 70px;
    /* background-color:black; */

}
#description {
    color:white;
    font-weight: 70px;
    /* background-color:black; */

}

#author{
    color:white;
   
}

  /* --- Horizaontal Ruler-------------------*/

 hr {
    max-width: 300px;
    height: 5px;
    border: solid;
    margin-top: 20px;
    margin-bottom: 20px;
    background:black;
  } 
  
#js-search-term{
    color:black;
    width:100%;
    height:40px;
    border-radius:10px;
}
#resultsCheck{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
    margin-left:40px;   
}
label{
color:black;
height:auto;
text-align: center;
}
h2,p{
    text-align:center;
}


/* ---------------------media query---------------------------- */
 @media all and (min-width: 680px) {
    
    .container {
      max-width: 1000px;
      margin: auto;
      direction:flex;
      flex-direction: row;
      height:400px;
    } 

       .group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between; 
        align-items: flex-start;
        margin:auto;
        margin-top:40px;
        max-width: 1000px;
    

      } 
     .item {
        flex-grow: 1;
        align-self:center;
        flex-wrap: wrap;
      }  
      hr{
          width:500px;
          margin:20px;
          color:black;
      }
    
      #js-form{
        position:absolute;
        padding:10px;
        margin-bottom: 5px;
        /* margin-top: 100px; */
        justify-items: center;
        /* margin-left:230px; */
        
    }
    .click{
        text-align:text;
        padding-bottom: 2px;
        margin-top:10px;
        /* margin-left:200px; */
        /* text-transform: uppercase; */
        font-size:40px;
        font-weight: 300px;
        width: 400px;
        height:60px;
        border-radius: 10px;
    }
    #js-search-term{
        color:black;
        width:400px;;
        height:55px;
        border-radius:10px;
        text-align: center;
        /* margin-left:70px;  */

    }
    label{
        background-color:white;
        color:black;
        height:100px;
        font-weight: 500;
        border-radius: 5px;
        margin-bottom: 20px;
        left: 70px;


    }

    hr{
        width:100%;
    }

    /* .htitle{
        text-align:center;
        margin-left:40px; 
        height:200px;

        background-color: black;
    } */
    img{
        width:100%;
        height:400px;
    }

   
    hr{
        display: none;
    }
    

    body{
        background-color:#FFFFFE;
    }

    h2,p{
        text-align:center;
    }

    div h1{
        position: relative;
        max-width:800px;
        height: 100px;
        background-color:black;
        text-align:center;
        margin-left:80px;
        margin-bottom: 70px;
    }
    
    #js-form{
        position:absolute;
        padding:60px;
        margin-top: 100px;
        justify-items: center;
        margin-left:230px;
        
    }
    .hidden{
        display:none;
    } 
    
}
  

