*{
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    background-color:#979494;
}
h1{
    /*text-align: center;*/
    background-color:red;
    color:white;
    max-width: 1000px;
    height:auto;
    border-radius:10px;
    height:70px;
    padding:10px;
}
#js-form{
    width:800px;
    height:auto; 
   margin-top: 60px;
   color:white;
    
}
.container{
    text-align:center;
    max-width: 800px;
    height:200px;
    background-color:darkgray;
    margin: 0 auto;
    direction:flex;
    flex-direction: column;
    border:solid;
    border-radius:10px;
    border:2px;
    border:solid;
    box-shadow: 3px 3px 3px 3px white;
   
}
#listing{
    direction:flex;
    flex-direction: column;
    background-color:#A9A9A9;
    padding:10px;
    border-radius:10px;
    border:2px;
    box-shadow: 3px 3px 3px 3px white;
    border:solid;
    max-width: 800px;
    height:auto; 
    transition: width height background-color 1s; 
     
}
#listing:hover{
    width:1000px;
    height: auto;
    background-color:green;
}




.click{
    background-color:orange;
    color:white;
    cursor:pointer;
}
.colorKo{
    background-color:green;
    
}
/* #type, #link{
    background-color: darkseagreen;
    padding:10px;
    max-width: 800px;
} */


.click{
    background-color:orange;
    color:white;
    cursor:pointer;
}
.error-message{
    color:red;
}
.hidden{
    display:none;
} 

img{
    width: 150px;
    height:70pxpx;
}
a{
    border: red solid;
    background-color:green;
    color:white;
    border-radius:5px;
    width:50px;
}
#results{
    direction:flex;
    flex-direction: column;
    width: 800px;
    height:400px;
    margin-left: 200px;;  
}
#title {
    color:white;
    font-weight: 70px;
}
#author{
    color:white;
   
}
#results-list{
    list-style-type: none;
    margin-left: auto;
}
hr{
    height:10px;
    background-color:black;
    width:700px;
    margin: 30px;
    /*margin-left:-38px;*/
    
    

}
#resultsCheck{
    text-align: center;
    font-family: cursive;
    font-size: 25px;
}

